.btn {
    margin-right: 5px
}

.markedAsDone {
    text-decoration: line-through;
    color: #aaa
}

.tableActions {
    width: 105px
}

.todoForm {
    padding-bottom: 85px
}

.pd-0 {
    padding: 0px
}
